<!DOCTYPE html>
<html lang="en">
<script src="https://use.fontawesome.com/6a3a2c50da.js"></script>
{% block head %}
{% endblock %}

<body>

<div class="bmd-layout-container bmd-drawer-f-l bmd-drawer-overlay">

    <!-- Navigation Starts -->
    <header class="bmd-layout-header">

        <div class="navbar navbar-light bg-faded">
        <button class="navbar-toggler" type="button" data-toggle="drawer" data-target="#dw-s2">
            <span class="sr-only">Toggle drawer</span>
            <i class="material-icons hamburger_icon">menu</i>
        </button>
        </div>

    </header>
    <div class="settings pull-xs-right">
            <div class="nav-item">
              <div class="dropdown">
                    <span class="user_name">Mohit Ahuja</span>
                <button class="btn bmd-btn-icon btn-secondary dropdown-toggle header_dropdown" type="button" id="more-menu-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">arrow_drop_down</i>
                <div class="ripple-container"></div></button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="more-menu-1">
                  <button class="dropdown-item" type="button">My Profile</button>
                  <button class="dropdown-item" type="button">Settings</button>
                  <button class="dropdown-item" type="button">Logout</button>
                </div>
              </div>
            </div>
    </div>

    <div id="dw-s2" class="bmd-layout-drawer bg-faded">

        <a href="#" class="brand-logo">
            <img src="/static/images/logo.png" class="img-responsive" alt="logo">
        </a>

        <ul class="list-group nav-menu">
            <a href="{% url 'home'%}" class="list-group-item"><img src="/static/images/home.svg" class="img-responsive" alt="logo">Home</a>
            <a href="{% url 'revise'%}" class="list-group-item"><img src="/static/images/revise.svg" class="img-responsive" alt="logo">Revise Concepts</a>
            <a href="{% url 'index'%}" class="list-group-item"><img src="/static/images/practice.svg" class="img-responsive" alt="logo">Practice Tests</a>
            <a href="{% url 'result'%}" class="list-group-item"><img class="custom_width_tests" src="/static/images/analyze.svg" class="img-responsive" alt="logo">Analyze Results</a>
            <a href="{% url 'past'%}" class="list-group-item"><img class="custom_width_questions" src="/static/images/past_papers.svg" class="img-responsive" alt="logo">Past Papers</a>
            <a href="{% url 'ask'%}" class="list-group-item"><img src="/static/images/ask.svg" class="img-responsive" alt="logo">Ask Ignite</a>
            <a href="{% url 'admit'%}" class="list-group-item"><img src="/static/images/admission.svg" class="img-responsive" alt="logo">Uni Admissions</a>
        </ul>

    </div>

    <!-- Navigation Ends -->

    {% block body %}
    {% endblock %}

<script>
    $(document).ready(function(){

        $('.nav-menu a.list-group-item').click(function(){
           $(this).addClass('active');
        });
        /*menu handler*/
          function stripTrailingSlash(str) {
            if(str.substr(-1) == '/') {
              return str.substr(0, str.length - 1);
            }
            return str;
          }

          var url = window.location.pathname;  
          var activePage = stripTrailingSlash(url);

          $('.nav-menu a.list-group-item').each(function(){  
            var currentPage = stripTrailingSlash($(this).attr('href'));

            if (activePage == currentPage) {
              $(this).addClass('active'); 
            } 
          });
    });
</script>

</body>

</html>

