<!DOCTYPE html>
<html lang="en">

<head>
    <title>IgniteTech</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </head>

<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{%url 'index'%}">IgniteTech</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">
                <div class="sidebar-section">
                    <img alt="140x140" data-src="holder.js/140x140" class="img-circle" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNWQ2MDVlNTNkMyB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1ZDYwNWU1M2QzIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA1NDY4NzUiIHk9Ijc0LjUiPjE0MHgxNDA8L3RleHQ+PC9nPjwvZz48L3N2Zz4="
                        data-holder-rendered="true" style="width: 110px; height: 110px;">
                    <p class="username">Mohit Ahuja</p>
                </div>
                <div class="sidebar-section">
                    <a href="{% url 'index'%}">HOME</a>
                    <a href="#">TESTS</a>
                    <a href="#">QUESTIONS</a>
                    <a href="#">FORUM</a>
                </div>
                <div class="sidebar-section">
                    <a href="#">My Profile</a>
                    <a href="#">Settings</a>
                    <a href="#">Logout</a>
                </div>
            </div>
            <div class="col-sm-4 qa-parent text-left">
                <h4>Question</h4><br>
                <h5 class="question">{{this_question.question|safe}}<br><br><br></h5>
                <form action="{% url 'check' questionid%}" >
                    {% csrf_token %}
                    <input type="text" name = "Answer" class="form-control" placeholder="Type your answer here">
                    <div class="actions">
                        <button class="btn btn-default">DONE</button>
                    </div>
                    <br>
                    <h5>

                    {% if is_correct == 1%}
                        <font color="green"><b>Correct Answer!</b></font>
                        <br><br> Difficulty level: {{q_level}}
                        <br><br>{{this_question.correct_users}} out of {{this_question.total_users}} users got this right
                        <br><br>Time taken by you: {{t}} seconds
                        <br><br>Average time taken by users who got this right: {{this_question.correct_time}} seconds
                    {%endif%}

                    {% if is_correct == 0%}
                        <font color="red"><b>Wrong Answer!</b></font>
                        <br><br> Difficulty level: {{q_level}}
                        <br><br>{{this_question.correct_users}} out of {{this_question.total_users}} users got this right
                        <br><br>Time taken by you: {{t}} seconds
                        <br><br>Average time taken by users who got this right: {{this_question.correct_time}} seconds
                    {%endif%}

                    <br><br>
                    {%if  next_id is not None %}
                    <a href="{% url 'details' next_id %}" class="next">Next &raquo;</a>
                    {%endif%}

                    </h5>
                </form>
                <hr>
            </div>
            <div class="col-sm-6 chat-bot">
                <div class="chat-box">
                    <div class="head thread-on">
                        <div class="mid-head">
                            <span class="text-primary">Chat with @prof - your chat bot professor!</span>
                        </div>
                    </div>
                    <div id = "container" class="chat-thread">
                        <div class="message-box">
                            <p class="timestamp text-left text-muted">@prof</p>
                            <p class="text text-left text-muted">Hey, how can I help:
                            <br><br>
                            <a href='#' onclick='clickfunc(this)'>The question is not clear.</a>
                            <br><br>
                            <a href='#' onclick='clickfunc(this)'>What concepts should I know to solve this question?</a>
                            <br><br>
                            <a href='#' onclick='clickfunc(this)'>How should I start solving? What's step 1?</a>
                            <br><br>
                            <a href='#' onclick='clickfunc(this)'>I can't remember a formula!</a>
                            <br><br>
                            <a href='#' onclick='clickfunc(this)'>What is the main trick in the question?</a>
                            <br><br>
                            <a href='#' onclick='clickfunc(this)'>I am stuck. Help!</a>


                            </p>
                        </div>
                    </div>
                    <div class="footer">
                        <input type="text" id = "textbox" placeholder="Type something...">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="container-fluid text-center">
        <p>Copyright @2017 IgniteTech. All rights reserved.</p>
    </footer>

<script type="text/javascript">
    var path = ""+window.location.pathname;
    var question_id = path.slice(6, 7);

    function write_bot_msg(message){

        var prevState = $("#container").html();
        $("#container").html(prevState + '<div class="message-box">' +
        '<p class="timestamp text-left text-muted">@prof</p>' +
        '<p class="text text-left text-muted">' + message + '</p>' + '</div>');
    }

    function write_user_msg(newMessage){

        var prevState = $("#container").html();
        $("#container").html(prevState + '<div class="message-box self">' +
        '<p class="timestamp text-muted">@user</p>' +
        '<p class="text text-left text-muted">' + newMessage + '</p>' + '</div>');
        $("#container").scrollTop($("#container").prop("scrollHeight"));
        ajaxCall(newMessage,question_id);
    }

    function clickfunc(obj) {

        var t = $(obj).text();
        write_user_msg(t);

    }

    $(function(){

        $("#textbox").keypress(function(event){
            if (event.which == 13){
                write_user_msg($("#textbox").val())
                $("#textbox").val("");
                $("#textbox").autocomplete( "close" );
            }

        });

    });

    $( function() {
        var localList = {{ qlist|safe }};

        $( "#textbox" ).autocomplete({
            minLength: 1,
            delay: 0,
            source: localList
        });
    });

    function ajaxCall(user_question, question_id) {
        $.ajax({
            type: "GET",
            url: "http://127.0.0.1:8000/chat/response/",
            data: {"question": user_question, "question_id": question_id},
            success: callbackFunc
        });
    }

    function callbackFunc(response) {
        write_bot_msg(response);
        $("#container").scrollTop($("#container").prop("scrollHeight"));
    }

</script>

</body>

</html>