

{% extends 'base.html' %}

{% block head %}
<head>
    <title>IgniteTech</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Material Design fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Bootstrap Material Design -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/FezVrasta/bootstrap-material-design/dist/dist/bootstrap-material-design.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/output.css">

</head>
{% endblock %}


{% block body %}

    <div class="background-fixed">
        <div class="background-color"></div>
        <div class="arrow">
            <img src="/static/images/triangle.svg" alt="">
        </div>
    </div>

    <!-- Main Content -->
    <main class="bmd-layout-content">
        <div class="container">
            <div class="card-group">
                    <div class="card">
                        <div class="card-block">
                            <h1 class="card-title hi">Hi Mohit,</h1>
                            <p class="card-text"><b>Welcome to Ignite Tech!</b></p>
                            <p class="card-text">Our chat bot <b>Prof</b> will help you to:</p>
                                <ul>
                                    <li><p class="card-text"><a href="{% url 'revise' %}"> Revise key concepts </a></p></li>
                                    <li><p class="card-text"><a href="{% url 'index' %}"> Take practice tests </a></p></li>
                                    <li><p class="card-text"><a href="{% url 'result' %}"> Analyze your results </a></p></li>
                                    <li><p class="card-text"><a href="{% url 'past' %}"> Solve past paper questions </a></p></li>
                                    <li><p class="card-text"><a href="{% url 'ask' %}"> Connect with our live team </a></p></li>
                                    <li><p class="card-text"><a href="{% url 'admit' %}"> Help with your university admissions </a></p></li>
                                </ul>
                            <p class="card-text">Start your chat with <b>Prof</b> now!</p>
                            <p class="card-text thanks_note">Good Luck! <br>IgniteTech Team</p>

                        </div>
                    </div>
                    <div class="card chat-bot">
                        <div class="">
                            <div class="card-header">
                                <div class="card-block">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <div class="row">
                                                    <span class="circle_prof"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-10 prof_status">
                                                <h4 class="card-title">Prof</h4>
                                                <h6 class="card-subtitle online">Online</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id = "container" class="fixed_scrollable_area card-block">
                                <p class="card-text">
                                   <span class="prof_chat">Hi, my name is Prof. I'd like to know a few things about you.</span>
                                </p>
                                <p class="card-text">
                                    <span class="prof_chat">Which board are you studying in?</span>
                                </p>
                                <ul class="list-group list-group-flush select_options">
                                        </li>
                                        <li class="list-group-item">
                                            <span class="select_answer">
                                                <a href='#' onclick='clickfunc(this)'>IGCSE</a>
                                            </span>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="select_answer">
                                                <a href='#' onclick='clickfunc(this)'>A-Levels</a>
                                            </span>
                                        <li class="list-group-item">
                                            <span class="select_answer">
                                                <a href='#' onclick='clickfunc(this)'>Internatiional Baccaulerate (IB)</a>
                                            </span>
                                        </li>
                                </ul>
                            </div>
                            <div class="card-footer">
                                    <div class="row">
                                        <div class="col-sm-1 dropup">
                                            <button type="button" class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-plus"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <!-- Dropdown menu links -->
                                                <button class="dropdown-item" type="button">Upload photo of a question</button>
                                                <button class="dropdown-item" type="button">Chat with a teacher</button>
                                            </div>
                                        </div>
                                        <div class="col-sm-11">
                                            <input type="text" class="form-control" id = "textbox" placeholder="Type something...">
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    </div>
        </div>
    </main>
    <!-- Main Content Ends -->

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdn.rawgit.com/HubSpot/tether/v1.3.4/dist/js/tether.min.js"></script>
<script src="https://cdn.rawgit.com/FezVrasta/bootstrap-material-design/dist/dist/bootstrap-material-design.iife.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>
<script>
    $('body').bootstrapMaterialDesign();
</script>

<script type="text/javascript">
    var path = ""+window.location.pathname;
    var question_id = path.slice(6, -1);

    function write_bot_msg(message){

        var prevState = $("#container").html();
        $("#container").html(prevState + '<div class="message-box">' +
        '<p class="timestamp text-left text-muted">@prof</p>' +
        '<p class="text text-left text-muted">' + message + '</p>' + '</div>');
    }

    function write_user_msg(newMessage){

        var prevState = $("#container").html();
        $("#container").html(prevState + '<div class="message-box self">' +
        '<p class="align-right"><span class="user_chat">' + newMessage + '</span></p>' + '</div>');
        $("#container").scrollTop($("#container").prop("scrollHeight"));
        if (question_id == "") {
            question_id = -1;
        }

        ajaxCall(newMessage,question_id);
    }

    function clickfunc(obj) {

        var t = $(obj).text();
        write_user_msg(t);

    }

    $(function(){

        $("#textbox").keypress(function(event){
            if (event.which == 13){
                write_user_msg($("#textbox").val())
                $("#textbox").val("");
            }

        });

    });

    function ajaxCall(user_question,question_id) {
        $.ajax({
            type: "GET",
            url: "http://127.0.0.1:8000/chat/response/",
            data: {"question": user_question, "question_id": question_id},
            success: callbackFunc
        });
    }

    function callbackFunc(response) {
        write_bot_msg(response);
        $("#container").scrollTop($("#container").prop("scrollHeight"));
    }

</script>

{% endblock %}