<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>IgniteTech</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Material Design fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Bootstrap Material Design -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/FezVrasta/bootstrap-material-design/dist/dist/bootstrap-material-design.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/output.css">

</head>

<body>

<div class="bmd-layout-container bmd-drawer-f-l bmd-drawer-overlay">

    <!-- Navigation Starts -->
    <header class="bmd-layout-header">

        <div class="navbar navbar-light bg-faded">
        <button class="navbar-toggler" type="button" data-toggle="drawer" data-target="#dw-s2">
            <span class="sr-only">Toggle drawer</span>
            <i class="material-icons">menu</i>
        </button>
        </div>

    </header>
    <div class="settings pull-xs-right">
            <div class="nav-item">
              <div class="dropdown">
                    <span class="user_name">Kaustav Das</span>
                <button class="btn bmd-btn-icon btn-secondary dropdown-toggle" type="button" id="more-menu-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                <div class="ripple-container"></div></button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="more-menu-1">
                  <button class="dropdown-item" type="button">My Profile</button>
                  <button class="dropdown-item" type="button">Settings</button>
                  <button class="dropdown-item" type="button">Logout</button>
                </div>
              </div>
            </div>
    </div>

    <div id="dw-s2" class="bmd-layout-drawer bg-faded">

        <a href="#" class="brand-logo">
            <img src="/static/images/logo.png" class="img-responsive" alt="logo">
        </a>

        <ul class="list-group nav-menu">
            <a href="{% url 'index'%}" class="list-group-item"><img src="/static/images/home.svg" class="img-responsive" alt="logo">HOME</a>
            <a href="#" class="list-group-item"><img class="custom_width_tests" src="/static/images/tests.svg" class="img-responsive" alt="logo">TESTS</a>
            <a href="#" class="list-group-item"><img class="custom_width_questions" src="/static/images/questions.svg" class="img-responsive" alt="logo">QUESTIONS</a>
            <a href="#" class="list-group-item"><img src="/static/images/forum.svg" class="img-responsive" alt="logo">FORUM</a>
        </ul>

    </div>
    
    <!-- Navigation Ends -->
    <div class="background-fixed">
        <div class="background-color"></div>
        <div class="arrow"> 
            <img src="/static/images/triangle.svg" alt="">
        </div>
    </div>

    <!-- Main Content -->
    <main class="bmd-layout-content">
        <div class="container">
            <div class="card-group">
                    <div class="card">
                        <div class="card-block">
                            <h1 class="card-title hi">Hi Elnora,</h1>
                            <p class="card-text">You will be able to practice taking tests here.</p>
                            <p class="card-text">We cover the subjects of probability for the international Baccalauraete(IB) Board</p>
                            <p class="card-text">In case you are stuck on a question, feel free to ask the bot for "HINTS"</p>
                            <p class="card-text">At the end of test, you will be provided with a detailed analysis of your performance.</p>
                            <p class="card-text thanks_note">Good Luck! <br>IgniteTech Team</p>
                                <a href="{% url 'details' questionid %}" class="btn btn-primary">Take Adaptive Test</a>
                        </div>
                    </div>
                    <div class="card chat-bot">
                        <div class="">
                            <div class="card-header">
                                <div class="card-block">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <div class="row">
                                                    <span class="circle_prof"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-10 prof_status">
                                                <h4 class="card-title">Prof</h4>
                                                <h6 class="card-subtitle online">Online</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id = "container" class="fixed_scrollable_area card-block">
                                <p class="card-text">
                                   <span class="prof_chat">Hi, my name is Prof. Ask me anything!</span>
                                </p>
                                <p class="card-text">
                                    <span class="prof_chat">Here are a few options:</span>
                                </p>
                                <ul class="list-group list-group-flush select_options">
                                        <li class="list-group-item">
                                            <span class="select_answer">
                                                <a href='#' onclick='clickfunc(this)'>How should I start taking the test?</a>
                                            </span>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="select_answer">
                                                <a href='#' onclick='clickfunc(this)'>Which topics are covered?</a>
                                            </span>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="select_answer">
                                                <a href='#' onclick='clickfunc(this)'>How should I analyze my test performance?</a>
                                            </span>
                                        </li>
                                </ul>
                            </div>
                            <div class="card-footer">
                                    <input type="text" class="form-control" id = "textbox" placeholder="Type something...">
                            </div>
                        </div>
                    </div>
                    </div>
        </div>
    </main>
    <!-- Main Content Ends -->

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/HubSpot/tether/v1.3.4/dist/js/tether.min.js"></script>
<script src="https://cdn.rawgit.com/FezVrasta/bootstrap-material-design/dist/dist/bootstrap-material-design.iife.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>
<script>
    $('body').bootstrapMaterialDesign();
</script>

<script type="text/javascript">
    var path = ""+window.location.pathname;
    var question_id = path.slice(6, 7);

    function write_bot_msg(message){

        var prevState = $("#container").html();
        $("#container").html(prevState + '<div class="message-box">' +
        '<p class="timestamp text-left text-muted">@prof</p>' +
        '<p class="text text-left text-muted">' + message + '</p>' + '</div>');
    }

    function write_user_msg(newMessage){

        var prevState = $("#container").html();
        $("#container").html(prevState + '<div class="message-box self">' +
        '<p class="align-right"><span class="user_chat">' + newMessage + '</span></p>' + '</div>');
        $("#container").scrollTop($("#container").prop("scrollHeight"));
        if (question_id == "") {
            question_id = -1;
        }
        ajaxCall(newMessage,question_id);
    }

    function clickfunc(obj) {

        var t = $(obj).text();
        write_user_msg(t);

    }

    $(function(){

        $("#textbox").keypress(function(event){
            if (event.which == 13){
                write_user_msg($("#textbox").val())
                $("#textbox").val("");
                $("#textbox").autocomplete( "close" );
            }

        });

    });

    $( function() {
        var localList = {{ qlist|safe }};

        $( "#textbox" ).autocomplete({
            minLength: 1,
            delay: 0,
            source: localList
        });
    });

    function ajaxCall(user_question,question_id) {
        $.ajax({
            type: "GET",
            url: "http://127.0.0.1:8000/chat/response/",
            data: {"question": user_question, "question_id": question_id},
            success: callbackFunc
        });
    }

    function callbackFunc(response) {
        write_bot_msg(response);
        $("#container").scrollTop($("#container").prop("scrollHeight"));
    }

</script>

</body>

</html>