

{% extends 'base.html' %}

{% block head %}
<head>
    <title>IgniteTech</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Material Design fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Bootstrap Material Design -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/FezVrasta/bootstrap-material-design/dist/dist/bootstrap-material-design.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/output.css">

</head>
{% endblock %}


{% block body %}

    <div class="background-fixed">
        <div class="background-color"></div>
        <div class="arrow"> 
            <img src="/static/images/triangle.svg" alt="">
        </div>
    </div>
    <!-- Main Content -->
    <main class="bmd-layout-content">
        <div class="container">
            <div class="card-group">
                    <div class="card left_card scroll_div">
                        <div class="card-block">
                            <h1 class="card-title hi">Please select your past paper questions below:</h1>
                            <h5>
                                Year:
                                <select>
                                    <option value="2016">2016</option>
                                    <option value="2015">2015</option>
                                    <option value="2014">2014</option>
                                    <option value="2013">2013</option>
                                    <option value="2012">2012</option>
                                    <option value="2011">2011</option>
                                </select><br><br><br>
                                Board:
                                <select>
                                    <option value="IB">IB</option>
                                    <option value="A-Level">A-Level</option>
                                    <option value="IGCSE">IGCSE</option>
                                    <option value="GCSE">GCSE</option>
                                </select><br><br><br>
                                Subject:
                                <select>
                                    <option value="Math SL">Math SL</option>
                                    <option value="Math HL">Math HL</option>
                                    <option value="Math Studies">Math Studies</option>
                                </select><br><br><br>
                                Topic:
                                <select>
                                    <option value="All">All</option>
                                    <option value="Algebra">Algebra</option>
                                    <option value="Functions and Equations">Functions and Equations</option>
                                    <option value="Circular functions and trigonometry">Circular functions and trigonometry</option>
                                    <option value="Vectors">Vectors</option>
                                    <option value="Statistics">Statistics</option>
                                    <option value="Probability">Probability</option>
                                    <option value="Calculus">Calculus</option>
                                </select><br><br><br>
                                Sub-Topic:
                                <select>
                                    <option value="All">All</option>
                                    <option value="General Probability">General Probability</option>
                                    <option value="Probability Laws">Probability Laws</option>
                                    <option value="Tree Diagrams">Tree Diagrams</option>
                                    <option value="Venn Diagrams">Venn Diagrams</option>
                                    <option value="Normal Distribution">Normal Distribution</option>
                                    <option value="Binomial Distribution">Binomial Distribution</option>
                                </select>
                            </h5><br><br>
                            <a href="{% url 'pastque' %}" class="btn btn-primary">Get past paper questions</a>
                        </div>
                    </div>
                    <div class="card chat-bot">
                        <div class="">
                            <div class="card-header">
                                <div class="card-block">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <div class="row">
                                                    <span class="circle_prof"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-10 prof_status">
                                                <h4 class="card-title">Prof</h4>
                                                <h6 class="card-subtitle online">Online</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id = "container" class="fixed_scrollable_area card-block">
                                <p class="card-text">
                                   <span class="prof_chat">Hi, my name is Prof. Ask me anything!</span>
                                </p>
                                <p class="card-text">
                                    <span class="prof_chat">Here are a few options:</span>
                                </p>
                                <ul class="list-group list-group-flush select_options">
                                        <li class="list-group-item">
                                            <span class="select_answer">
                                                <a href='#' onclick='clickfunc(this)'>How should I use the past papers section?</a>
                                            </span>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="select_answer">
                                                <a href='#' onclick='clickfunc(this)'>Which topics are covered?</a>
                                            </span>
                                        </li>
                                </ul>
                            </div>
                            <div class="card-footer">
                                    <input type="text" class="form-control" id = "textbox" placeholder="Type something...">
                            </div>
                        </div>
                    </div>
                    </div>
        </div>
    </main>
    <!-- Main Content Ends -->

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdn.rawgit.com/HubSpot/tether/v1.3.4/dist/js/tether.min.js"></script>
<script src="https://cdn.rawgit.com/FezVrasta/bootstrap-material-design/dist/dist/bootstrap-material-design.iife.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>
<script>
    $('body').bootstrapMaterialDesign();
</script>

<script type="text/javascript">
    var path = ""+window.location.pathname;
    var question_id = path.slice(6, -1);

    function write_bot_msg(message){

        var prevState = $("#container").html();
        $("#container").html(prevState + '<div class="message-box">' +
        '<p class="timestamp text-left text-muted">@prof</p>' +
        '<p class="text text-left text-muted">' + message + '</p>' + '</div>');
    }

    function write_user_msg(newMessage){

        var prevState = $("#container").html();
        $("#container").html(prevState + '<div class="message-box self">' +
        '<p class="align-right"><span class="user_chat">' + newMessage + '</span></p>' + '</div>');
        $("#container").scrollTop($("#container").prop("scrollHeight"));
        if (question_id == "") {
            question_id = -1;
        }
        ajaxCall(newMessage,question_id);
    }

    function clickfunc(obj) {

        var t = $(obj).text();
        write_user_msg(t);

    }

    $(function(){

        $("#textbox").keypress(function(event){
            if (event.which == 13){
                write_user_msg($("#textbox").val())
                $("#textbox").val("");
                $("#textbox").autocomplete( "close" );
            }

        });

    });

    $( function() {
        var localList = {{ qlist|safe }};

        $( "#textbox" ).autocomplete({
            minLength: 1,
            delay: 0,
            source: localList
        });
    });

    function ajaxCall(user_question,question_id) {
        $.ajax({
            type: "GET",
            url: "http://127.0.0.1:8000/chat/response/",
            data: {"question": user_question, "question_id": question_id},
            success: callbackFunc
        });
    }

    function callbackFunc(response) {
        write_bot_msg(response);
        $("#container").scrollTop($("#container").prop("scrollHeight"));
    }

</script>

{% endblock %}