

{% extends 'base.html' %}

{% block head %}
<head>
    <title>IgniteTech</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Material Design fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Bootstrap Material Design -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/FezVrasta/bootstrap-material-design/dist/dist/bootstrap-material-design.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/output.css">

</head>
{% endblock %}


{% block body %}

    <div class="background-fixed">
        <div class="background-color"></div>
        <div class="arrow"> 
            <img src="/static/images/triangle.svg" alt="">
        </div>
    </div>

    <!-- Main Content -->
    <main class="bmd-layout-content">
        <div class="container">
            <div class="card-group">
                    <div class="card left_card scroll_div">
                        <div id = "name" class="card-block">
                            <h1 class="card-title hi">Overview</h1>
                        </div>
                        <div id = "video" class="card-block">
                            <iframe width="480" height="300" src="https://www.youtube.com/embed/uzkc-qNVoOk"
                                       frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card chat-bot">
                        <div class="">
                            <div class="card-header">
                                <div class="card-block">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <div class="row">
                                                    <img class="img-responsive" src="/static/images/prof.png" style="max-width: 50px; max-height: 50px">
                                                </div>
                                            </div>
                                            <div class="col-sm-10 prof_status">
                                                <h4 class="card-title">Prof</h4>
                                                <h6 class="card-subtitle online">Online</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id = "container" class="fixed_scrollable_area card-block">
                                <p class="card-text">
                                   <span class="prof_chat">Hi, please select one of the concepts below. <br>
                                       Type <a href='#' onclick='clickfunc(this)'> revise </a> to see this list again.<br><br>
                                       <a href='#overview' class="overview" data-link= "https://www.youtube.com/embed/uzkc-qNVoOk" onclick='getvideo(this)'> Overview </a><br>
                                       <a href='#sample' class="sample" data-link= "https://www.youtube.com/embed/6zWPgvEMVlE" onclick='getvideo(this)'> Sample Space </a><br>
                                       <a href='#compound' class="compound" data-link= "https://www.youtube.com/embed/4fBXIcO0It4" onclick='getvideo(this)'> Compound Events </a><br>
                                       <a href='#outcomes' class="outcomes" data-link= "https://www.youtube.com/embed/3_otNr9kRuY" onclick='getvideo(this)'> Outcomes </a><br>
                                       <a href='#theoretical' class="theoretical" data-link= "https://www.youtube.com/embed/uzkc-qNVoOk" onclick='getvideo(this)'> Theoretical Probability </a><br>
                                       <a href='#sampling' class="sampling" data-link= "https://www.youtube.com/embed/VjLEoo3hIoM" onclick='getvideo(this)'> Sampling Without Replacement </a><br>
                                       <a href='#dependent' class="dependent" data-link= "https://www.youtube.com/embed/xSc4oLA9e8o" onclick='getvideo(this)'> Dependent Events </a><br>
                                    </span>
                                </p>
                            </div>
                            <div class="card-footer">
                                    <div class="row">
                                        <div class="col-sm-1 dropup">
                                            <button type="button" class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-plus"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <!-- Dropdown menu links -->
                                                <button class="dropdown-item" type="button">Share a picture</button>
                                                <button class="dropdown-item" type="button">Chat with teacher</button>
                                                <button class="dropdown-item" type="button">Share your screen</button>
                                                <button class="dropdown-item" type="button">Call a teacher</button>
                                            </div>
                                        </div>
                                        <div class="col-sm-11">
                                            <input type="text" class="form-control" id = "textbox" placeholder="Type something...">
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    </div>
        </div>
    </main>
    <!-- Main Content Ends -->

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdn.rawgit.com/HubSpot/tether/v1.3.4/dist/js/tether.min.js"></script>
<script src="https://cdn.rawgit.com/FezVrasta/bootstrap-material-design/dist/dist/bootstrap-material-design.iife.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>
<script>
    $('body').bootstrapMaterialDesign();
</script>

<script type="text/javascript">
jQuery(document).ready(function($){
    if ( document.location.href.indexOf('#sample') > -1 ) {
        $('.sample').trigger('click');
    }
    else if ( document.location.href.indexOf('#compound') > -1 ) {
        $('.compound').trigger('click');
    }
    else if ( document.location.href.indexOf('#outcomes') > -1 ) {
        $('.outcomes').trigger('click');
    }
    else if ( document.location.href.indexOf('#theoretical') > -1 ) {
        $('.theoretical').trigger('click');
    }
    else if ( document.location.href.indexOf('#sampling') > -1 ) {
        $('.sampling').trigger('click');
    }
    else if ( document.location.href.indexOf('#dependent') > -1 ) {
        $('.dependent').trigger('click');
    }
    else {
        $('.overview').trigger('click');
    }
});
    $(window).load(function() {
          alert($.cookie('test'));
    });
    var question_id = -1;

    function write_bot_msg(message){

        var prevState = $("#container").html();
        $("#container").html(prevState + '<div class="prof_chat">' +
        '<p>' + message + '</p>' + '</div>');
    }

    function write_user_msg(newMessage){

        var prevState = $("#container").html();
        $("#container").html(prevState + '<div class="message-box self">' +
        '<p class="align-right"><span class="user_chat">' + newMessage + '</span></p>' + '</div>');
        $("#container").scrollTop($("#container").prop("scrollHeight"));
        ajaxCall(newMessage,question_id);
    }

    function clickfunc(obj) {

        var t = $(obj).text();
        write_user_msg(t);

    }

    function getvideo(obj) {

        var t = $(obj).text();
        var l = $(obj).attr('data-link');
        $("#name").html("<h1 class='card-title hi'>" + t + "</h1>");
        $("#video").html('<iframe width="480" height="300" src="'+ l + '" frameborder="0" allowfullscreen></iframe>');


    }

    $(function(){

        $("#textbox").keypress(function(event){
            if (event.which == 13){
                write_user_msg($("#textbox").val())
                $("#textbox").val("");
                $("#textbox").autocomplete( "close" );
            }

        });

    });

    $( function() {
        var localList = {{ qlist|safe }};

        $( "#textbox" ).autocomplete({
            minLength: 1,
            delay: 0,
            source: localList
        });
    });

    function ajaxCall(user_question,question_id) {
        $.ajax({
            type: "GET",
            url: "http://127.0.0.1:8000/chat/response/",
            data: {"question": user_question, "question_id": question_id},
            success: callbackFunc
        });
    }

    function callbackFunc(response) {
        write_bot_msg(response);
        $("#container").scrollTop($("#container").prop("scrollHeight"));
    }

</script>

{% endblock %}