body {
  font: "Quicksand", sans-serif; }

/* Customization of Material Design */
.custom-file-control, .form-control, .is-focused .custom-file-control, .is-focused .form-control {
  background-image: -webkit-linear-gradient(bottom, #308ded 2px, rgba(0, 150, 136, 0) 0), -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.26) 1px, transparent 0);
  background-image: linear-gradient(0deg, #308ded 2px, rgba(0, 150, 136, 0) 0), linear-gradient(0deg, rgba(0, 0, 0, 0.26) 1px, transparent 0); }

.card-footer .custom-file-control, .card-footer .form-control, .card-footer .is-focused .custom-file-control, .card-footer .is-focused .form-control {
  background-image: none; }

.btn-primary {
  margin: 1rem 0; }

a {
  color: #308ded;
  border-bottom: 1px dotted;
  transition: border-bottom 0.2s ease;
  font-weight: 500; }
  a:hover {
    color: #308ded;
    border-bottom: 1px solid;
    text-decoration: none;
    font-weight: 500;
    transition: border-bottom 0.2s ease; }

.brand-logo {
  border-bottom: none; }
  .brand-logo:hover {
    border-bottom: none; }

.nav-menu a {
  border-bottom: none;
  font-weight: 400; }
  .nav-menu a:hover {
    color: #fff; }
.nav-menu .list-group-item.active {
  background-color: #2371c3;
  border-color: #2371c3; }

.scroll_div {
  max-height: 584px;
  overflow-y: auto; }

.hamburger_icon {
  font-size: 36px; }

/* Customization of chat bot */
.card .card-header {
  background-color: #D8EBFA;
  border-bottom: 0px; }
  .card .card-header h4.card-title {
    font-size: 1rem;
    font-weight: 500;
    color: #616161; }
  .card .card-header .prof_status {
    padding-left: 0px;
    padding-top: 4px; }
  .card .card-header .online {
    color: #2eb946;
    font-size: 0.7rem;
    font-weight: 400; }
  .card .card-header .circle_prof {
    width: 40px;
    height: 40px;
    background-color: #fff;
    display: flex;
    border-radius: 50%; }
.card .card-footer {
  position: absolute;
  width: 100%;
  bottom: 0; }
.card .correct_answer {
  padding: 1rem;
  background-color: #e6f9db;
  font-size: 0.75rem; }
.card .success_text {
  color: #3aab3a; }
.card .wrong_answer {
  font-size: 0.75rem;
  padding: 1rem;
  background-color: #ffebeb; }
.card .error_text {
  color: #f12828; }

.chat-bot .card-header .card-block {
  padding: 0; }
.chat-bot .fixed_scrollable_area {
  height: 460px;
  overflow-y: auto;
  margin-bottom: 51px; }

.prof_chat {
  padding: 10px 20px;
  background-color: #308ded;
  color: #fff;
  border-radius: 25px;
  font-size: 0.75rem;
  border-top-left-radius: 0px;
  display: inline-block; }
  .prof_chat a {
    border-bottom: 1px dotted;
    color: #2bfff8;
    font-weight: 500;
    display: inline-block;
    margin: 0.2rem 0;
    transition: all 0.2s ease; }
    .prof_chat a:hover {
      text-decoration: none;
      border-bottom: 1px solid;
      transition: all 0.2s ease;
      color: #ffffff; }

.message-box {
  margin-top: 10px; }
  .message-box p {
    text-align: right; }
  .message-box .user_chat {
    padding: 10px 20px;
    background-color: #5bb3d5;
    color: #ffffff;
    border-radius: 25px;
    font-size: 0.75rem;
    border-top-right-radius: 0px;
    text-align: left;
    display: inline-block; }

.list-group-flush .list-group-item .select_answer {
  color: #000;
  display: inline-block;
  border: 1px solid #add5ff;
  border-radius: 25px;
  margin-right: 0; }
  .list-group-flush .list-group-item .select_answer a {
    color: #308ded;
    font-size: 0.75rem;
    text-decoration: none;
    border-bottom: none;
    display: block;
    padding: 0.6em 1rem;
    margin-right: 0;
    font-weight: 500; }

.bmd-form-group {
  padding: 0;
  display: flex; }

.left_card li {
  line-height: 2; }

.result_table table {
  width: 100%; }
  .result_table table thead {
    text-transform: capitalize; }
    .result_table table thead tr {
      text-align: left;
      background-color: #318ded;
      color: #fff; }
  .result_table table th {
    padding: 10px;
    border: 0;
    text-align: left; }
  .result_table table tbody {
    text-align: left; }
    .result_table table tbody td {
      border: 0;
      padding-left: 10px; }

.back_button {
  text-align: right; }
  .back_button .btn-info {
    color: white;
    background-color: #383838;
    margin-top: 2rem;
    margin-bottom: 2rem; }
    .back_button .btn-info:hover {
      color: white;
      background-color: #383838;
      border-bottom: none;
      box-shadow: 5px 6px 10px #d0d0d0;
      transition: box-shadow 0.3s ease; }

.ui-autocomplete {
  position: absolute;
  z-index: 1;
  background-color: white;
  list-style: none;
  line-height: 2;
  box-shadow: #ececec 0px -3px 3px;
  padding: 10px 0px;
  width: 21rem;
  bottom: 82px;
  right: 13rem;
  max-height: 7rem;
  font-size: 0.75rem;
  top: initial !important;
  border: 1px solid #d4d4d4; }
  .ui-autocomplete .ui-menu-item .ui-menu-item-wrapper {
    padding: 5px 20px; }
    .ui-autocomplete .ui-menu-item .ui-menu-item-wrapper:hover {
      background-color: #d7ebfb; }
    .ui-autocomplete .ui-menu-item .ui-menu-item-wrapper.ui-state-active {
      background-color: #d7ebfb; }

.attachment_dropdown {
  top: 3.5rem; }

.fa {
  color: #616161; }

.card-footer .btn-secondary {
  background-color: #efefef; }
.card-footer input {
  padding-left: 10px; }

.btn.btn-secondary.header_dropdown:hover, .btn.btn-secondary.header_dropdown:focus {
  color: #fff; }

/*# sourceMappingURL=output.css.map */
