$font-stack: 'Quicksand', sans-serif;
$material-blue: #308ded;
$grey-color: #616161;
$light-blue: #D8EBFA;
$green : #2eb946;
$white : #fff;
$standard-font-size : 0.75rem;
$error_bg_color : #ffebeb;
$error_text_color : #f12828;
$success_text_color: #3aab3a;
body {
    font: $font-stack;
  }
/* Customization of Material Design */
.custom-file-control, .form-control, .is-focused .custom-file-control, .is-focused .form-control {
    background-image: -webkit-linear-gradient(bottom,$material-blue 2px,rgba(0,150,136,0) 0),-webkit-linear-gradient(bottom,rgba(0,0,0,.26) 1px,transparent 0);
    background-image: linear-gradient(0deg,$material-blue 2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
}


.card-footer .custom-file-control, .card-footer .form-control, .card-footer .is-focused .custom-file-control, .card-footer .is-focused .form-control {
    background-image: none;
}

.btn-primary {
    margin : 1rem 0;
}
a {
    color: $material-blue;
    border-bottom: 1px dotted;
    transition: border-bottom 0.2s ease;
    font-weight: 500;

    &:hover {
        color: $material-blue;
        border-bottom: 1px solid;
        text-decoration: none;
        font-weight: 500;
        transition: border-bottom 0.2s ease;
    }
}

.brand-logo {
    border-bottom: none;
    &:hover {
        border-bottom: none;
    }
}

.nav-menu {
    a {
        border-bottom: none;
        font-weight: 400;
        &:hover { 
            color: #fff;
        }
    }
    .list-group-item {
        &.active {
           background-color: #2371c3;
            border-color: #2371c3; 
        }
    }
}

.scroll_div {
    max-height: 584px;
    overflow-y: auto; 
}
/* Customization of chat bot */
.card{
    .card-header {
        background-color: $light-blue;
        border-bottom: 0px;
        h4.card-title {
            font-size: 1rem;
            font-weight: 500;
            color: $grey-color;
        }
        .prof_status {
            padding-left: 0px;
            padding-top: 4px;
        }
        .online {
            color: $green;
            font-size: 0.7rem;
            font-weight: 400;
        }
        
        .circle_prof {
            width: 40px;
            height: 40px;
            background-color: #fff;
            display: flex;
            border-radius: 50%;
        }
    }
    .card-footer{
        position: absolute;
        width: 100%;
        bottom: 0;
    }

    .correct_answer {
        padding: 1rem;
        background-color: #e6f9db;
        font-size: $standard-font-size;
    }
    .success_text {
        color: $success_text_color;
    }

    .wrong_answer {
        font-size: $standard-font-size;
        padding: 1rem;
        background-color: $error_bg_color;
    }
    .error_text {
        color: $error_text_color;
    }

} 

.chat-bot {
    .card-header {
        .card-block {
            padding: 0;
        }
    }
    .fixed_scrollable_area {
        height: 460px;
        overflow-y: auto;
        margin-bottom: 51px;
    }
}
.prof_chat {
    padding: 10px 20px;
    background-color: $material-blue;
    color: $white ;
    border-radius: 25px;
    font-size: $standard-font-size;
    border-top-left-radius: 0px;
    display: inline-block;
    a {
        border-bottom: 1px dotted;
        color: #2bfff8;
        font-weight: 500;
        display: inline-block;
        margin: 0.2rem 0;
        transition: all 0.2s ease;
        &:hover {
            text-decoration: none;
            border-bottom: 1px solid;
            transition: all 0.2s ease;
            color: #ffffff;
        }
    }
}
.message-box {
    margin-top: 10px;
    p {
        text-align: right;
    }
    .user_chat {
        padding: 10px 20px;
        background-color: #5bb3d5;
        color: #ffffff;
        border-radius: 25px;
        font-size: 0.75rem;
        border-top-right-radius: 0px;
        text-align: left;
        display: inline-block;
    }
}
.list-group-flush {
    .list-group-item {
        .select_answer {
            color: #000;
            display: inline-block;
            border: 1px solid #add5ff;
            border-radius: 25px;
            margin-right: 0;
            a {
                color: #308ded;
                font-size: 0.75rem;
                text-decoration: none;
                border-bottom: none;
                display: block;
                padding: 0.6em 1rem;
                margin-right: 0;
                font-weight: 500;
            }
        }
    }
}
.bmd-form-group {
    padding: 0;
    display: flex;
}

.left_card {
    li {
        line-height: 2;
    }
}
.result_table {
    table {
        width: 100%;
        thead {
            text-transform: capitalize;
            tr {
                text-align: right;
                background-color: #318ded;
                color: #fff;
            }
        }
        th {
            padding: 10px;
            border: 0;
            text-align: center;
        }
        tbody {
            text-align: center;
            td {
                border:0;
            }
        }
    }
}







